<div *ngIf="message" class="alert alert-success">
    {{ message }}
  </div>

<ng-container >
    <div class="d-flex justify-content-center">
      <form #passwordForm="ngForm" (ngSubmit)="onChangePassword(passwordForm.value)" class="row g-3" style="width: 30%;">
        <div class="col-12">
          <h2>Change Password</h2>
        </div>
        <div class="col-12">
          <label for="currentPassword" class="form-label">Current Password</label>
          <input type="password" class="form-control" name="currentPassword" ngModel>
        </div>
        <div class="col-12">
          <label for="newPassword" class="form-label">New Password</label>
          <input type="password" class="form-control" name="newPassword" ngModel>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
      </form>
      </div>
  </ng-container>
